/*
!.gitignore
!/data/
/data/*
!/data/README.md
!/data/sample/
/data/sample/*
!/data/sample/*.csv

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd

# Runtime outputs
/outputs/*
!/outputs/.gitkeep

# Environment
.env
.venv
virtualenv/
venv/
