# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment
.env
.venv
venv/
virtualenv/
autoanalytix_venv/

# Runtime outputs
/outputs/

#Reports
AutoAnalytiX__Reports/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db